.button {
  background-color: rgba(235, 12, 12, 1);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 14px 16px;
  font-size: 16px;
  // transition: background-color 0.3s;
  cursor: pointer;
  width: 82px;
  height: 48px;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: rgba(195, 0, 0, 1);
  }
}

.icon {
  width: auto;
}
