@charset "utf-8";

@use 'fonts.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'SF Pro Display', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}
