.image-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0px;
  justify-content: flex-start;
  width: 100%;

  &.error{
    padding: 40px 0px;
  }
}

.status-message p{
  color: rgba(120, 120, 120, 1);
}

.image-gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.image-item {
  width: 204.17px;
  height: 204px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid rgba(235, 235, 235, 1);
  flex-shrink: 0;
  cursor: pointer;

  @media (max-width: 430px) {
    width: 114px;
    height: 114px;
  }
}

.fullscreen-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  padding-top: 40px;
  @media (max-width: 430px) {
    padding: 0;
  }
}

.fullscreen-image-container {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  @media (max-width: 430px) {
    max-width: 100%;
  }
  
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-button {
  position: fixed;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 430px) {
    top: 16px;
    right: 16px;
  }
}
